body {
  font-family: 'Montserrat', sans-serif;
  color: #708090;
  background-color: #F5F5F5;
  margin: 0;
}

main {
  margin: 50px 100px;
}

.navbar-fixed-top {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px 60px 100px;
  color: black;
  height: 80px;
  background-color: #F5F5F5;
  text-decoration: none;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 16px;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 0;
}

.dash {
  letter-spacing: normal;
  font-weight: 700;
  margin-right: 10px;
}

nav {
  a {
    text-decoration: none;
    color: #708090;
    padding-bottom: 5px;
    border-bottom: 3px solid #F5F5F5;
    transition: all 0.5s ease;

    &:hover {
      color: black;
      border-bottom: 3px solid black;
    }
  }

  ul {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: #708090;
}

nav li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 5px;
}

.slider {
  background-color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 150px;

  /*border: 30px solid white;*/

  a {
    text-decoration: none;
    cursor: default;
  }
}

.caption {
  font-size: 80px;
  font-weight: bold;
  margin: 20px;
  color: grey;
  letter-spacing: 3px;

  /*background-color: white;*/
  text-align: center;
}

h2 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 16px;
}

p {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 1px;
  margin-left: 65px;
}

section {
  margin: 50px 0px;
}

.work {
  display: flex;
  justify-content: center;
  width: auto;

  /*flex-wrap: wrap;*/
  height: auto;
  margin-top: 150px;
  margin-bottom: 150px;
  color: grey;
}

.work-order {
  font-size: 14px;
  font-weight: 300;
  color: grey;
  margin: 50px;
  border-bottom: 1px solid grey;
}

h3 {
  font-family: 'Arvo', serif;
  margin: 100px 50px;
  font-size: 40px;
  letter-spacing: 1.5px;
  color: grey;
  transition: all 0.5s ease;
}

.skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 65px;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills ul {
  list-style-type: square;
  padding: 0px 20px;
  line-height: 2;
  font-weight: 700;
}

.work a {
  text-decoration: none;
}

h3:hover {
  padding-left: 20px;
}

.brand {
  background-color: white;
  width: 400px;
  transition: all 0.5s ease;
}

.ux-ui {
  background-color: white;
  width: 380px;
  border-left: 3px solid #F5F5F5;
  border-right: 3px solid #F5F5F5;
  transition: all 0.5s ease;
}

.motion {
  background-color: white;
  width: 400px;
  transition: all 0.5s ease;
}

.brand:hover, .ux-ui:hover, .motion:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.contact {
  margin-bottom: 100px;
}

.links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 65px;
}

.strengths {
  display: flex; 
  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    li {
    background: #708090;
    padding: 0.5em 0.75em;
    color: white;
    font-weight: 500;
    margin: 0.5em;
    }
  }
}

h4 {
  font-weight: 300;
  border-bottom: 2px solid grey;
  padding-bottom: 5px;
}

.online-profile ul, .resume-links ul {
  list-style-type: square;
  padding: 0px 20px;
}

.online-profile li, .resume-links li {
  line-height: 2;
  font-weight: 700;
}

.online-profile a, .resume-links a {
  transition: all 0.5s ease;
  text-decoration: none;
}

.online-profile a:hover, .resume-links a:hover {
  color: black;
}

.online-profile, .resume-links {
  width: 250px;
  margin-right: 50px;
}

.email {
  color: black;
  transition: all 0.5s ease;

  &:hover {
    color: #708090;
  }
}

footer p {
  font-size: 12px;
  letter-spacing: normal;
  text-align: center;
  border-top: 5px solid white;
  font-weight: 300;
  padding-top: 40px;
}

h5 {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-img {
  margin: 20px;
}

.project-description {
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 100px;
  width: 350px;
}

.project-img img {
  width: 500px;
}

.project-description {
  p {
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;

    em {
      font-weight: 300;
      font-style: italic;
      letter-spacing: 1px;
      font-size: 14px;
    }
  }

  a {
    margin-right: 10px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;

    &:hover {
      color: black;
      border: 1px solid black;
      transition: all 1s ease;
    }
  }
}

.name-mobile {
  display: none;
}

.breadcrumbs {
  background: white;
  width: 100%;
  text-align: center;
  padding: 30px 0px 25px 0px;
  margin-top: 120px;

  li {
    display: inline;
    text-decoration: none;
    font-weight: 500;
  }

  a {
    text-decoration: none;

    &:hover {
      color: black;
      transition: all ease 0.5s;
    }
  }
}

/*MOBILE STYLE*/

@media only screen and (max-width: 700px) {
  html {
    margin: 0;
  }

  p {
    margin-left: 0;
    padding-left: 0;
  }

  .navbar-fixed-top {
    h1 {
      display: none;
    }

    flex-direction: column;
    align-items: center;
    height: 180px;
    padding: 10px;
  }

  nav {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  h1.name-mobile {
    display: block;
    font-weight: 200;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
  }

  .nav_bar {
    margin: 30px 0px;
    padding: 0;
    text-align: center;
  }

  nav ul {
    margin-left: 0;
    padding-left: 0;
  }

  main {
    margin: 0px 0px;
  }

  .slider {
    display: none;
  }

  .about {
    margin-top: 200px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .skills-section {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;

    h2 {
      text-align: center;
    }
  }

  .work {
    flex-wrap: wrap;

    /*text-align: center;
    border: none;*/
  }

  .contact-description {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .links {
    flex-direction: column;
    align-items: center;
  }

  .skills {
    margin-left: 0;
    justify-content: center;
    padding-left: 0;
    flex-direction: column;
    align-items: center;
  }

  .ux-ui {
    border-left: none;
    border-right: none;
    border-top: 3px solid #F5F5F5;
    border-bottom: 3px solid #F5F5F5;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project-img img {
    width: 90%;
    margin-left: 10px;
  }

  .project-description {
    padding-left: 15px;
    padding-left: 15px;
  }

  .sections h2 {
    text-align: center;
  }

  .breadcrumbs {
    margin-top: 200px;
    font-size: 12px;

    ul {
      padding: 0;
      margin: 0;
    }
  }
}